[package]
name = "runtime-srv"
version = "0.1.0"
authors = ["Legion Labs <devs@legionlabs.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
# Legion engine
lgn-app = { path = "../lgn-app", version = "0.1.0" }
lgn-asset-registry = { path = "../lgn-asset-registry", version = "0.1.0" }
lgn-async = { path = "../lgn-async", version = "0.1.0" }
lgn-core = { path = "../lgn-core", version = "0.1.0" }
lgn-data-runtime = { path = "../lgn-data-runtime", version = "0.1.0" }
lgn-ecs = { path = "../lgn-ecs", version = "0.1.0" }
lgn-graphics-runtime = { path = "../lgn-graphics-runtime", version = "0.1.0" }
lgn-grpc = { path = "../lgn-grpc", version = "0.1.0" }
lgn-input = { path = "../lgn-input" }
lgn-presenter-window = { path = "../lgn-presenter-window", version = "0.1.0" }
lgn-renderer = { path = "../lgn-renderer", version = "0.1.0" }
lgn-streamer = { path = "../lgn-streamer", version = "0.1.0" }
lgn-transform = { path = "../lgn-transform", version = "0.1.0" }
lgn-utils = { path = "../lgn-utils", version = "0.1.0" }
lgn-config = { path = "../lgn-config", version = "0.1.0" }
lgn-winit = { path = "../lgn-winit", version = "0.1.0" }
lgn-window = { path = "../lgn-window", version = "0.1.0" }
lgn-tracing = { path = "../lgn-tracing", version = "0.1.0" }

generic-data = { path = "../../tests/generic-data", version = "0.1.0", features = [
    "runtime",
] }
sample-data-runtime = { path = "../../tests/sample-data-runtime", version = "0.1.0" }

# other
clap = { version = "3.0", features = ["derive"] }
instant = { version = "0.1", features = ["wasm-bindgen"] }

[features]
default = ["standalone"]
standalone = []
