# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
#*.ext text

# Declare files that will always have LF line endings on checkout.
*.rs text eol=lf
*.toml text eol=lf
*.hlsl text eol=lf
*.proto text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.svelte text eol=lf
*.lock text eol=lf

pnpm-lock.yaml text eol=lf
test/sample-data/**/* eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.yml text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.psd binary
*.blend binary

codegen/ merge=theirs
