[workspace]
members = ["clients/*", "servers/*", "core/*", "modules/*", "apps/*", "tests/*"]

[profile.release]
opt-level = 3
debug = true
debug-assertions = false

[profile.bench]
opt-level = 3
debug = true
debug-assertions = false
