[editor_srv]
project_dir = "tests/sample-data"
server_addr = "[::1]:50051"
default_scene = "/world/sample_1.ent"

[runtime_srv]
project_dir = "tests/sample-data"
server_addr = "[::1]:50052"

[physics]
enable_visual_debugger = false
length_tolerance = 1.0
speed_tolerance = 1.0

[streamer]
max_frame_time = 33_000 #microsec

[data_transaction]
log_operation = false

[test_config]
test_bool = false
test_int = 1337
test_float = 1337.1337
test_string = "TestString"

[test_config.sub_config]
test_nested = 42

[logging]
#logs_buffer_size = 10485760
#metrics_buffer_size = 1048576
#threads_buffer_size = 10485760
#max_level_filter = "ERROR"

[logging.level_filters]
#webrtc = "WARN"

[oauth]
issuer_url = "https://cognito-idp.ca-central-1.amazonaws.com/ca-central-1_SkZKDimWz"
client_id = "5m58nrjfv6kr144prif9jk62di"

[content_store.provider]
type = "local"

[content_store.caching_provider]
type = "lru"
size = 250
