[package]
name = "editor-srv"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
# Legion engine
lgn-app = { path = "../lgn-app", version = "0.1.0" }
lgn-asset-registry = { path = "../lgn-asset-registry", version = "0.1.0" }
lgn-async = { path = "../lgn-async", version = "0.1.0" }
lgn-content-store = { path = "../lgn-content-store", version = "0.1.0" }
lgn-ecs = { path = "../lgn-ecs", version = "0.1.0" }
lgn-core = { path = "../lgn-core", version = "0.1.0" }
lgn-data-offline = { path = "../lgn-data-offline", version = "0.1.0" }
lgn-data-runtime = { path = "../lgn-data-runtime", version = "0.1.0" }
lgn-data-transaction = { path = "../lgn-data-transaction", version = "0.1.0" }
lgn-data-model = { path = "../lgn-data-model", version = "0.1.0" }
lgn-grpc = { path = "../lgn-grpc", version = "0.1.0" }
lgn-mp4 = { path = "../lgn-mp4", version = "0.1.0" }
lgn-online = { path = "../lgn-online", version = "0.1.0" }
lgn-governance = { path = "../lgn-governance", version = "0.1.0" }
lgn-graphics-renderer = { path = "../lgn-graphics-renderer", version = "0.1.0" }
lgn-hierarchy = { path = "../lgn-hierarchy", version = "0.1.0" }
lgn-log = { path = "../lgn-log", version = "0.1.0" }
lgn-resource-registry = { path = "../lgn-resource-registry", version = "0.1.0" }
lgn-scene-plugin = { path = "../lgn-scene-plugin", version = "0.1.0" }
lgn-source-control = { path = "../lgn-source-control", version = "0.1.0" }
lgn-streamer = { path = "../lgn-streamer", version = "0.1.0" }
lgn-tracing = { path = "../lgn-tracing", version = "0.1.0" }
lgn-transform = { path = "../lgn-transform", version = "0.1.0" }
lgn-config = { path = "../lgn-config", version = "0.1.0" }
lgn-input = { path = "../lgn-input" }
lgn-tasks = { path = "../lgn-tasks" }
lgn-telemetry-sink = { path = "../lgn-telemetry-sink", version = "0.1.0" }
lgn-window = { path = "../lgn-window", version = "0.1.0" }
tokio = { version = "1.13", features = ["full", "tracing"] }
tokio-stream = "0.1.8"
tonic = "0.6"
clap = { version = "3.0", features = ["derive"] }
anyhow = "1.0"
serde = "1"
serde_json = "1.0"
erased-serde = "0.3.12"
inventory = "0.2"
uuid = { version = "1.0", features = ["v4"] }
bytes = "1.1.0"
thiserror = "1.0.30"
crossbeam-channel = "0.5.1"
zip = { version = "0.5.13" }
async-trait = "0.1.56"
axum = "0.5"
http = "0.2"
hyper = { version = "0.14", features = ["full"] }
serde_qs = { version = "0.9", features = ["axum"] }

# PlugIn
generic-data = { path = "../../tests/generic-data", version = "0.1.0", features = [
    "offline",
    "runtime",
] }
sample-data = { path = "../../tests/sample-data", version = "0.1.0", features = [
    "offline",
    "runtime",
] }
lgn-graphics-data = { path = "../lgn-graphics-data", version = "0.1.0", features = [
    "offline",
    "runtime",
] }
lgn-physics = { path = "../lgn-physics", version = "0.1.0", features = [
    "offline",
    "runtime",
] }
lgn-scripting-data = { path = "../lgn-scripting-data", version = "0.1.0", features = [
    "offline",
    "runtime",
] }


[build-dependencies]
lgn-api-codegen = { path = "../lgn-api-codegen", version = "0.1.0" }


[dev-dependencies]
tempfile = "3.2.0"
lgn-math = { path = "../lgn-math", version = "0.1.0" }
lgn-data-compiler = { path = "../lgn-data-compiler", version = "0.1.0" }
lgn-data-build = { path = "../lgn-data-build", version = "0.1.0" }
lgn-content-store = { path = "../lgn-content-store", version = "0.1.0" }
lgn-compiler-runtime-entity = { path = "../lgn-runtime-entity-compiler" }
lgn-compiler-scripting = { path = "../lgn-scripting-compiler" }


[target.'cfg(any(target_os = "linux", target_os = "windows"))'.dependencies]
lgn-streamer = { path = "../lgn-streamer", version = "0.1.0", features = [
    "vulkan",
] }


[[package.metadata.monorepo.publish]]
type = "docker"
allow-aws-ecr-creation = true
extra-files = [
    { source = "../../tests/sample-data/*", destination = "/usr/src/app/tests/sample-data/" },
    { source = "nvidia_icd.json", destination = "/etc/vulkan/icd.d/" },
    { source = "10_nvidia.json", destination = "/usr/share/glvnd/egl_vendor.d/" },
]
target-bin-dir = "/usr/src/app"
template = '''
FROM ubuntu:20.04

RUN apt-get update && apt-get install -y --no-install-recommends \
    wget ca-certificates unzip gnupg

RUN wget -qO lunarg-signing-key-pub.asc https://packages.lunarg.com/lunarg-signing-key-pub.asc && \
    apt-key add lunarg-signing-key-pub.asc && \
    wget -qO /etc/apt/sources.list.d/lunarg-vulkan-1.3.204-focal.list https://packages.lunarg.com/vulkan/1.3.204/lunarg-vulkan-1.3.204-focal.list && \
    apt-get update && \
    apt-get install -y --no-install-recommends vulkan-sdk && \
    echo "/usr/lib/dxc" | tee -a /etc/ld.so.conf.d/dxc.conf && \
    ldconfig
    
ENV NVIDIA_VISIBLE_DEVICES all
ENV NVIDIA_DRIVER_CAPABILITIES compute,graphics,video,utility

{ copy_all }

WORKDIR /usr/src/app

ENTRYPOINT ["{ binaries.editor-srv }"]
'''

[[package.metadata.monorepo.publish]]
type = "zip"
extra-files = [
    { source = "../../tests/sample-data/*", destination = "tests/sample-data" },
    { source = "../../legion.toml", destination = "" },
]
