[package]
name = "legion_tasks"
version = "0.1.0"
edition = "2018"
authors = [
    "Bevy Contributors <bevyengine@gmail.com>",
    "Lachlan Sneff <lachlan.sneff@gmail.com>",
    "Philip Degarmo <aclysma@gmail.com>",
]
description = "A task executor for the Legion Engine"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures-lite = "1.4.0"
event-listener = "2.4.0"
async-executor = "1.3.0"
async-channel = "1.4.2"
num_cpus = "1.0.1"

[dev-dependencies]
instant = "0.1"
