// ---------- Api ----------

{% include "interface.ts.jinja" %}

// ---------- Client ----------

{% include "client.ts.jinja" %}

// ---------- Parameters ----------

{% include "parameters.ts.jinja" %}

// ---------- Responses ----------

{% include "responses.ts.jinja" %}