{% for model in api.models.values() %}
    {% if let Some(description) = model.description %}/** {{ description }} */{% endif -%}
    {% match model.type_ %}
        {% when Type::Enum with { variants } %}
            export type {{ model.name }}Model = (
                {%- for variant in variants -%}
                    | "{{ variant }}"
                {%- endfor -%}
            );
        {% when Type::OneOf with { types } %}
            export type {{ model.name }}Model = (
                {%- for type_ in types -%}
                    | { type: "option{{loop.index}}", value: {{ type_|fmt_type }} }
                {%- endfor -%}
            );
        {% when Type::Struct with { fields } %}
            export type {{ model.name }}Model = {
                {% for field in fields %}
                    {% if let Some(description) = field.description -%}/** {{ description }} */{%- endif %}
                    {# #[serde(rename = "{{ field.name }}")] #}
                    {%- if field.required -%}
                    "{{ field.name }}": {{ field.type_|fmt_type }};
                    {%- else -%}
                    "{{ field.name }}"?: {{ field.type_|fmt_type }};
                    {%- endif -%}
                {% endfor %}
            };
        {% when t %}
            export type {{ model.name }}Model = {{ t|fmt_type }};
    {% endmatch %}
{% endfor %}