{
  "name": "@lgn/api",
  "version": "1.0.0",
  "description": "Legion's monorepo",
  "repository": "https://github.com/legion-labs/legion",
  "author": "devs@legionlabs.com",
  "license": "MIT OR Apache-2.0",
  "private": true,
  "scripts": {
  },
  "peerDependencies": {
    "@types/qs": "^6.9.7",
    "qs": "^6.10.5"
  }
}
