{% for (path, routes) in api.paths %}
    {% for route in routes %}    
        {% if !route.parameters.query.is_empty() -%}
            export type {{ route.name|pascal_case }}Query = {
                {% for parameter in route.parameters.query -%}
                    {%- if parameter.required -%}
                        "{{ parameter.name }}": {{ parameter.type_|fmt_type(ctx, module_path) }};
                    {%- else -%}
                        "{{ parameter.name }}"?: {{ parameter.type_|fmt_type(ctx, module_path) }};
                    {%- endif -%}
                {% endfor %}
            };
        {% endif %}
    {% endfor %}
{% endfor %}
