{{ route.name|camel_case }}(
    {% let has_path_params = !route.parameters.path.is_empty() %}
    {% let has_query_params = !route.parameters.query.is_empty() %}
    {% let has_header_params = !route.parameters.header.is_empty() %}

    {% if has_path_params || has_query_params || has_header_params %}
    params: {
        {% for parameter in route.parameters.path -%}
            {%- if parameter.required -%}
                "{{ parameter.name|camel_case }}": {{ parameter.type_|fmt_type(ctx, module_path) }};
            {%- else -%}
                "{{ parameter.name|camel_case }}"?: {{ parameter.type_|fmt_type(ctx, module_path) }};
            {%- endif -%}
        {% endfor -%}
        {% for parameter in route.parameters.query -%}
            {%- if parameter.required -%}
                "{{ parameter.name|camel_case }}": {{ parameter.type_|fmt_type(ctx, module_path) }};
            {%- else -%}
                "{{ parameter.name|camel_case }}"?: {{ parameter.type_|fmt_type(ctx, module_path) }};
            {%- endif -%}
        {% endfor -%}
        {% for parameter in route.parameters.header -%}
            {%- if parameter.required -%}
                "{{ parameter.name|camel_case }}": {{ parameter.type_|fmt_type(ctx, module_path) }};
            {%- else -%}
                "{{ parameter.name|camel_case }}"?: {{ parameter.type_|fmt_type(ctx, module_path) }};
            {%- endif -%}
        {% endfor -%}
    },
    {% endif %}
    {% if let Some(request_body) = route.request_body -%}
        {%- if request_body.required -%}
            body: {{ request_body.content.type_|fmt_type(ctx, module_path) }},
        {%- else -%}
            body?: {{ request_body.content.type_|fmt_type(ctx, module_path) }},
        {%- endif -%}
    {% endif -%}
): Promise<{{ route.name|pascal_case }}Response>
