.theme-dark {
  --roundness: 0%;

  --text-default: 255, 255, 255;
  --background-default: 0, 0, 0;

  --color-primary: 252, 77, 15;
  --color-accent: 252, 77, 15;

  --color-background: 15, 15, 15;
  --color-surface: 20, 20, 20;

  --color-headline: 255, 255, 255;
  --color-text: 255, 255, 255;
  --color-placeholder: 255, 255, 255;
  --color-backdrop: 0, 0, 0;

  --color-on-surface: 32, 32, 32;
  --color-notification: 252, 77, 15;

  /** TODO: Find a better name */
  --color-graph-red: 238, 123, 112;
  /** TODO: Find a better name */
  --color-graph-orange: 245, 187, 92;

  --opacity-headline: 87%;
  --opacity-text: 60%;
  --opacity-placeholder: 38%;
  --opacity-backdrop: 87%;

  --severity-level-error: 255, 97, 87;
  --severity-level-warn: 251, 145, 1;
  --severity-level-info: 52, 170, 255;
  --severity-level-debug: 164, 164, 164;
  --severity-level-trace: 194, 194, 194;
}
