[cargo-new]
name = "Legion Labs"
email = "devs@legionlabs.com"
vcs = "none"

[build]
# 
# make rustdoc treat warnings as errors.
rustdocflags = ["-Dwarnings"]

[target.x86_64-pc-windows-msvc]
linker = "lld-link.exe"
