[cargo-new]
name = "Legion Labs"
email = "devs@legionlabs.com"
vcs = "none"

################################################################################

[alias]
m = "run -p monorepo --"

# command used in vs code settings, to get errors on the initial build of monorepo
# and as a single command to be used where settings expect a signle verb
mclippy_ra = "run -q --message-format=json -p monorepo -- clippy"
mbuild = "run -p monorepo -- build"
mclippy = "run -p monorepo -- clippy"

################################################################################

[build]
rustflags = [
    # enable support for tokio's tracing feature (currently unstable)
    "--cfg",
    "tokio_unstable",
    # enable sanitizers
    # "-C", "link-args=-fsanitize=address"
]

[target.x86_64-pc-windows-msvc]
linker = "rust-lld.exe"

[target.x86_64-unknown-linux-gnu]
rustflags = ["-Clink-arg=-fuse-ld=lld"]

[profile.dev]
panic = 'abort'

# To be enabled to compare perfs between debug where this is 0
# and allowing a bit of inlining.
#[target.'cfg(debug_assertions)']
#rustflags = ["-C", "inline-threshold=25"]

[profile.bench]
opt-level = 3
debug = true
debug-assertions = false

[profile.release]
opt-level = 3
debug = true
debug-assertions = false
panic = 'abort'

[profile.release-lto]
inherits = "release"
lto = true

# this is one of the real time-critical sections of the code
# We want it optimal even even in dev mode
[profile.dev.package.openh264-sys2]
opt-level = 3
debug = true
debug-assertions = false

[profile.dev.package.guppy]
opt-level = 3
debug = true
debug-assertions = false


# These packages slow down debug builds a lot, so we want to optimize them
# even in dev mode, we will revisit if they impact too much the debugging
# experience
[profile.dev.package.webrtc-sctp]
opt-level = 3
debug = true
debug-assertions = false

[profile.dev.package.webrtc-dtls]
opt-level = 3
debug = true
debug-assertions = false

[profile.dev.package.aead]
opt-level = 3
debug = true
debug-assertions = false

[profile.dev.package.aes]
opt-level = 3
debug = true
debug-assertions = false

[profile.dev.package.aes-gcm]
opt-level = 3
debug = true
debug-assertions = false

[profile.dev.package.cipher]
opt-level = 3
debug = true
debug-assertions = false

[profile.dev.package.ctr]
opt-level = 3
debug = true
debug-assertions = false

[profile.dev.package.aes-soft]
opt-level = 3
debug = true
debug-assertions = false

[env]
LEGION_TELEMETRY_GRPC_API_KEY = "296bb99c-6921-4233-a353-a29c1045b5f2"
