import abc


# ---------- Requests -------
{% include "requests.py.jinja" %}

# ---------- Responses -------
{% include "responses.py.jinja" %}


# ---------- Api ----------
class Api(metaclass=abc.ABCMeta):
{% for (path, routes) in api.paths %}
    {%- for route in routes -%}
    {% if let Some(summary) = route.summary %}# {{ summary }} {% endif %}
    @abc.abstractmethod
    {% include "signature.py.jinja" %}
        raise NotImplementedError
    {% endfor %}
{% endfor %}

# ---------- Parameters -------
{#
At the moment we don't use query classes to form calls.
Parameters are parsed directly (see client.py.jinja)
{% include "parameters.py.jinja" %}
#}

# ---------- Client -------
{% include "client.py.jinja" %}
