import requests
import urllib

class Client(Api):
    def __init__(self, uri):
        self.uri = uri

    {% for (path, routes) in api.paths %}
    {% for route in routes %}
    {%- let enum_name = "{}Response"|format(route.name|pascal_case) -%}
    {% include "signature.py.jinja" %}
        uri = "{}{{ path|fmt_py_path }}".format(
            self.uri,
            {%- for parameter in route.parameters.path %}
            request.{{ parameter.name|snake_case }},
            {%- endfor %}
        )

        {%- if let Some(request_body) = route.request_body %}
        headers = {
            "Content-type": "{{ request_body.content.media_type }}",
        }
        
        {% endif %}
        
        {%- if !route.parameters.query.is_empty() %}
        params = {}

        {%- for parameter in route.parameters.query %}
        {%- if parameter.required %}
        params["{{ parameter.name|snake_case }}{}".format(("","[]")[isinstance(request.{{ parameter.name|snake_case }}, list)])] = request.{{ parameter.name|snake_case }}
        {% else %}
        if hasattr(request, "{{ parameter.name|snake_case }}") and request.{{ parameter.name|snake_case }}:
            params["{{ parameter.name|snake_case}}{}".format(("","[]")[isinstance(request.{{ parameter.name|snake_case }}, list)])] = request.{{ parameter.name|snake_case }}
        {%- endif %}
        {%- endfor %}
        
        uri += "?{}".format(urllib.parse.urlencode(params, doseq=True))
        {%- endif -%}

        {%- if !route.parameters.header.is_empty() %}
        {%- for parameter in route.parameters.header %}
        {%- let param_name = "{}"|format(parameter.name|snake_case) %}
        {%- if parameter.required %}
        headers["{{ parameter.name }}"] = request.{{ param_name }}
        {% else %}
        if request.{{ param_name }} != None:
            headers["{{ parameter.name }}"] = request.{{ param_name }}
        {%- endif %}                
        {%- endfor %}
        {%- endif %}

        print("uri: {}".format(uri))
        {%- if !route.parameters.query.is_empty() %}
        print("params: {}".format(params))
        {%- endif %}
        {%- if let Some(request_body) = route.request_body %}
        print("headers: {}".format(headers))
        print("body: {}".format(request.body.to_json()))
        {%- endif %}

        resp = requests.{{ route.method|lowercase }}(
            uri,
            {%- if !route.parameters.query.is_empty() %}
            #params = params,
            {%- endif %}
            {%- if let Some(request_body) = route.request_body %}
            headers = headers,
            data = request.body.to_json(),
            {%- endif %}
        )


        return {{ enum_name }}(resp)
    {% endfor %}
    {% endfor %}
    