
{% for (path, routes) in api.paths %}
    {% for route in routes %}    
        {% if !route.parameters.query.is_empty() -%}
            {{ route.name|pascal_case }}Query
                def __init__():
                {% for parameter in route.parameters.query -%}
                    {% include "parameter.py.jinja" %}                 
                {% endfor -%}
        {% endif %}
    {% endfor %}
{% endfor %}