{%- for (path, routes) in api.paths %}
{%- for route in routes %}
{% let model_name = "{}Request"|format(route.name|pascal_case) %}
class {{ model_name }}:
    def __init__(
        self,
        {%- for parameter in route.parameters %}
        {{ parameter.name|snake_case }}: {{ parameter.type_|fmt_type(ctx) }} {%- if !parameter.required %} = None{% endif %},
        {%- endfor %}
        {%- if let Some(request_body) = route.request_body %}
        body: {{ request_body.content.type_|fmt_type(ctx) }} {%- if request_body.required %} = None{% endif %},
        {%- endif %}
    ):
        {%- for parameter in route.parameters %}
        {%- if parameter.required %}
        self.{{ parameter.name|snake_case }} = {{ parameter.name|snake_case }}
        {%- else %}
        if {{ parameter.name|snake_case }}:
            self.{{ parameter.name|snake_case }} = {{ parameter.name|snake_case }}
        {%- endif %}
        {%- endfor %}

        {%- if let Some(request_body) = route.request_body %}
        {%- if request_body.required %}
        self.body = body
        {%- else %}
        if body:
            self.body = body
        {%- endif %}
        {%- endif %}
        pass
{% endfor %}
{% endfor %}