{%- for (path, routes) in api.paths %}
{%- for route in routes %}
{%- let enum_name = "{}Response"|format(route.name|pascal_case) %}
class {{ enum_name }}:
    {%- for (status_code, response) in route.responses %}
    {%- let status_name = "status_{}"|format(status_code) %}
    {%- if let Some(content) = response.content %}
    # {{ status_name }} = {{ status_code.as_u16() }} # {{ content.type_|fmt_type }}
    {%- else %}
    # {{ status_name }} = {{ status_code.as_u16() }}
    {%- endif %} # {{ response.description }}
    {%- endfor %}
    
    def __init__(self, response):
        print("response: {}".format(response))
        print("response.text: {}".format(response.text))
    {%- if route.responses.is_empty() %}
        raise Exception("Unimplemented response. Status: {}".format(response.status_code))
    {%- else %}
        match response.status_code:
            {%- for (status_code, response) in route.responses %}
            case {{ status_code.as_u16() }}:
                {%- if let Some(content) = response.content -%}
                {%- match content.media_type %}
                {% when MediaType::Json %}
                self.json = response.json()
                {% when MediaType::Bytes %}
                self.bytes = response.content
                {%- endmatch %}
                {%- endif -%}
                pass
            {%- endfor %}
            case _:
                raise Exception("unexpected status code: {}".format(response.status_code))
    {% endif %} 
{% endfor %}
{% endfor %}