// API {{ api.title }} v{{ api.version }}
//
// {% if let Some(description) = api.description %}{{ description|multilinecomment }}{% endif %}
//

// ---------- Api ----------
{% include "trait.rs.jinja" %}

// ---------- Client ----------
pub mod client {
    {% let module_path = module_path.join("client") %}
    {% include "client.rs.jinja" %}
    {% let module_path = module_path.parent().unwrap() %}
}

// ---------- Server ----------
pub mod server {
    {% let module_path = module_path.join("server") %}
    {% include "server.rs.jinja" %}
    {% let module_path = module_path.parent().unwrap() %}
}