name: CI - Test

on:
  push:
    paths-ignore:
      - "doc/**"
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Running code checks
    runs-on: [self-hosted, linux, common, build]
    steps:
      - uses: actions/checkout@v2

      - name: Run formatting check
        run: make check-format

      - name: Run build checks
        run: make check-build

      - name: Run clippy checks
        run: make check-clippy

      - name: Run dockerize checks
        run: make check-dockerize

      - name: Run dependencies checks
        run: make check-deps

  test:
    name: Running tests
    needs: lint
    strategy:
      matrix:
        os:
          [
            [self-hosted, windows, common, build],
            [self-hosted, linux, common, build],
          ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Build tests
        run: make test-build

      - name: Run tests
        run: make test-run

  test_gpu:
    name: Running gpu tests
    needs: lint
    strategy:
      matrix:
        os:
          [
            [self-hosted, windows, gpu, build],
            [self-hosted, linux, gpu, build],
          ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get specific changed files
        id: changed-files
        uses: tj-actions/changed-files@v11
        with:
          files: |
            ^lib/graphics-*
            ^plugin/renderer
            ^plugin/presenter-*
            ^test/graphics-*

      - name: Run tests
        if: steps.changed-files.outputs.any_changed == 'true'
        continue-on-error: true # experimental test
        run: cargo test --test base_tests -- gpu_

  build_docs:
    name: Building docs
    needs: lint
    runs-on: [self-hosted, linux, common, build]
    steps:
      - uses: actions/checkout@v2

      - name: Build docs
        run: make api-doc

      - name: Upload docs
        uses: actions/upload-artifact@v2
        with:
          name: doc
          path: ./target/doc
          retention-days: 5

  deploy_docs:
    name: Deploying docs
    needs: [build_docs, test]
    runs-on: ubuntu-20.04
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: doc
          path: ./doc

      - run: sleep 5

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        continue-on-error: true
        with:
          deploy_key: ${{ secrets.DOCS_DEPLOY_KEY }}
          external_repository: legion-labs/api.legionengine.com
          publish_branch: main
          publish_dir: ./doc
          force_orphan: true
          cname: api.legionengine.com
