name: Coverage

on:
  schedule:
    # Run the job 6am and 6pm EDT
    - cron: "0 10,22 * * *"

jobs:
  coverage:
    name: Running code coverage analysis
    runs-on: [self-hosted, linux, base, build]
    steps:
      - uses: actions/checkout@v2

      - name: Build and run tests with coverage
        run: make cov

      - name: Build coverage report
        run: make grcov

      - name: Upload report
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: ./target/debug/coverage
          retention-days: 60

  deploy_coverage:
    name: Deploying coverage report
    needs: [coverage]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: coverage
          path: ./coverage

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.COV_DEPLOY_KEY }}
          external_repository: legion-labs/cov.legionengine.com
          publish_branch: main
          publish_dir: ./coverage
          force_orphan: true
          cname: cov.legionengine.com
