name: Dailies

on:
  schedule:
    # Run the job 6am and 6pm EDT
    - cron: "0 10,22 * * *"
  workflow_dispatch:

jobs:
  image_setup:
    name: Image Setup
    uses: ./.github/workflows/reusable_build_env_setup.yml
    with:
      tag:
    secrets:
      github-token: ${{ secrets.ECR_GH_ACCESS_TOKEN }}

  bootstrap_rust:
    name: Rust bootstrap
    needs: [image_setup]
    runs-on: [self-hosted, linux, common, build]
    container:
      image: ${{ needs.image_setup.outputs.image }}
      credentials:
        username: AWS
        password: ${{ secrets.ECR_PASSWORD }}
    steps:
      - uses: actions/checkout@v2

      - name: Bootstrap
        uses: ./.github/actions/rust-bootstrap
        with:
          init: "true"

  rust:
    name: Rust ecosystem
    needs: [bootstrap_rust, image_setup]
    uses: ./.github/workflows/reusable_rust_ecosystem.yml
    with:
      image: ${{ needs.image_setup.outputs.image }}
      pkgs_arg: --workspace
      benchmark: true
      coverage: true
      timings: true
    secrets:
      ecr-password: ${{ secrets.ECR_PASSWORD }}
      coverage-deploy-key: ${{ secrets.COV_DEPLOY_KEY }}
      build-timings-deploy-key: ${{ secrets.BUILD_TIMINGS_DEPLOY_KEY }}

  node:
    name: Node ecosystem
    needs: [image_setup]
    uses: ./.github/workflows/reusable_node_ecosystem.yml
    with:
      image: ${{ needs.image_setup.outputs.image }}
      deploy: ${{ false }}
    secrets:
      ecr-password: ${{ secrets.ECR_PASSWORD }}

  book:
    name: Building book
    needs: [image_setup]
    uses: ./.github/workflows/reusable_book.yml
    with:
      image: ${{ needs.image_setup.outputs.image }}
      deploy: ${{ false }}
    secrets:
      ecr-password: ${{ secrets.ECR_PASSWORD }}
      deploy-key: ${{ secrets.BOOK_DEPLOY_KEY }}
