name: Book reusable workflow
on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      deploy:
        required: true
        type: boolean
    secrets:
      deploy-key:
        required: true
jobs:
  build:
    name: Build
    runs-on: [self-hosted, linux, common, build]
    container:
      image: ${{ inputs.image }}
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true

      - name: Build book
        run: mdbook build ./docs/

      - name: Upload book
        uses: actions/upload-artifact@v2
        with:
          name: book
          path: ./target/book
          retention-days: 5

  deploy:
    name: Deployment
    needs: [build]
    if: ${{ inputs.deploy }}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: book
          path: ./book

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.deploy-key }}
          external_repository: legion-labs/book.legionengine.com
          publish_branch: main
          publish_dir: ./book
          force_orphan: true
          cname: book.legionengine.com
