name: Rust ecosystem reusable workflow
on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      pkgs_arg:
        required: true
        type: string
      deploy:
        required: false
        type: boolean
        default: false
      benchmark:
        required: false
        type: boolean
        default: false
      coverage:
        required: false
        type: boolean
        default: false
      timings:
        required: false
        type: boolean
        default: false
    secrets:
      docs-deploy-key:
        required: false
      coverage-deploy-key:
        required: false
      build-timings-deploy-key:
        required: false

env:
  MONOREPO_DOCKER_REGISTRY: 550877636976.dkr.ecr.ca-central-1.amazonaws.com/legion-labs/legion
  CARGO_TERM_COLOR: always
  LEGION_TELEMETRY_URL: http://telemetry-ingestion-nlb-d60c0374061bf84a.elb.ca-central-1.amazonaws.com:8080

jobs:
  lint:
    name: Lints
    runs-on: [self-hosted, linux, common, build]
    container:
      image: ${{ inputs.image }}
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu, x86_64-pc-windows-msvc]
    steps:
      - uses: actions/checkout@v3

      - name: Bootstrap
        uses: ./.github/actions/rust-bootstrap

      - name: Run initial checks
        run: monorepo ci ${{ inputs.pkgs_arg }} --target ${{ matrix.target }} check

  test:
    name: Tests
    needs: [lint]
    runs-on: [self-hosted, linux, common, build]
    container:
      image: ${{ inputs.image }}
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu, x86_64-pc-windows-msvc]
    steps:
      - uses: actions/checkout@v3

      - name: Bootstrap
        uses: ./.github/actions/rust-bootstrap

      - name: Build tests
        run: monorepo ci ${{ inputs.pkgs_arg }} --target ${{ matrix.target }} test --build

      - name: Run tests
        if: ${{ matrix.target != 'x86_64-pc-windows-msvc' }}
        run: monorepo ci ${{ inputs.pkgs_arg }} --target ${{ matrix.target }} test --run

      - name: Upload GPU-test diffs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2.3.1
        with:
          name: GPU test diffs
          path: ./tests/graphics-sandbox/diffs

  publish:
    name: Release
    needs: [test]
    runs-on: [self-hosted, linux, common, build]
    container:
      image: ${{ inputs.image }}
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu, x86_64-pc-windows-msvc]
    steps:
      - uses: actions/checkout@v3

      - name: Bootstrap
        uses: ./.github/actions/rust-bootstrap

      - name: Build
        if: ${{ !inputs.deploy }}
        run: monorepo publish --force ${{ inputs.pkgs_arg }} --target ${{ matrix.target }} --build-only

      - name: Build and publish
        if: ${{ inputs.deploy }}
        run: monorepo publish --release --force ${{ inputs.pkgs_arg }} --target ${{ matrix.target }}

      - name: Upload Zip artifacts to github
        if: ${{ inputs.deploy && matrix.target == 'x86_64-pc-windows-msvc' }}
        uses: actions/upload-artifact@v2
        with:
          name: zip-release
          path: |
            ./target/x86_64-pc-windows-msvc/release/zip/
            !./target/x86_64-pc-windows-msvc/release/zip/*.zip
          retention-days: 5

  build_docs:
    name: Api docs
    needs: [lint]
    runs-on: [self-hosted, linux, common, build]
    container:
      image: ${{ inputs.image }}
    steps:
      - uses: actions/checkout@v3

      - name: Bootstrap
        uses: ./.github/actions/rust-bootstrap

      - name: Build docs
        run: monorepo doc

      - name: Upload docs
        uses: actions/upload-artifact@v2
        with:
          name: doc
          path: ./target/doc
          retention-days: 5

  deploy_docs:
    name: Api docs deploy
    needs: [build_docs]
    if: ${{ inputs.deploy }}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: doc
          path: ./doc

      - run: sleep 5

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        continue-on-error: true
        with:
          deploy_key: ${{ secrets.docs-deploy-key }}
          external_repository: legion-labs/api.legionengine.com
          publish_branch: main
          publish_dir: ./doc
          force_orphan: true
          cname: api.legionengine.com

  benchmark:
    name: Benchmarks
    if: ${{ inputs.benchmark }}
    needs: [lint]
    runs-on: [self-hosted, linux, common, build]
    container:
      image: ${{ inputs.image }}
    steps:
      - uses: actions/checkout@v3

      - name: Bootstrap
        uses: ./.github/actions/rust-bootstrap

      - name: Build benchmarks
        run: monorepo ci bench

  timings:
    name: Build timings
    if: ${{ inputs.timings }}
    needs: [lint]
    runs-on: [self-hosted, linux, common, build]
    container:
      image: ${{ inputs.image }}
    steps:
      - uses: actions/checkout@v3

      - name: Build with timings
        run: make timings

      - name: Upload report
        uses: actions/upload-artifact@v2
        with:
          name: timings
          path: ./timings
          retention-days: 60

  deploy_timings:
    name: Build timings deployment
    needs: [timings]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: timings
          path: ./timings

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.build-timings-deploy-key }}
          external_repository: legion-labs/build-timings.legionengine.com
          publish_branch: main
          publish_dir: ./timings
          force_orphan: true
          cname: build-timings.legionengine.com

  coverage:
    name: Coverage analysis
    if: ${{ inputs.coverage }}
    needs: [lint]
    runs-on: [self-hosted, linux, common, build]
    container:
      image: ${{ inputs.image }}
    steps:
      - uses: actions/checkout@v3

      - name: Bootstrap
        uses: ./.github/actions/rust-bootstrap

      - name: Build and run tests with coverage
        run: make cov

      - name: Build coverage report
        run: make grcov

      - name: Upload report
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: ./target/debug/coverage
          retention-days: 60

  deploy_coverage:
    name: Coverage report
    needs: [coverage]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: coverage
          path: ./coverage

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.coverage-deploy-key }}
          external_repository: legion-labs/cov.legionengine.com
          publish_branch: main
          publish_dir: ./coverage
          force_orphan: true
          cname: cov.legionengine.com
